* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
}
div {
    width: 100px;
    height: 100px;
    border: solid 2px black;
}
div:nth-child(odd) {
    background: red;
}
div:nth-child(even) {
    background: #0ab50a;
}
div:nth-child(3n+3) {
    background: blue;
}
