body {
    max-width: 1440px;
    margin: 0 auto;
}
div {
    width: 100px;
    height: 100px;
    background: green;
    text-align: center;
    font-size: 2rem;
    position: fixed;
}

.first {
    top: 0;
    border-bottom-right-radius: 50%;
}
.second {
    top: 0;
    right: 0;
    border-bottom-left-radius: 50%;

}
.third {
    bottom: 0;
    border-top-right-radius: 50%;
}
.forth {
    bottom: 0;
    right: 0;
    border-top-left-radius: 50%;
}
p {
    margin: 200px;

}