* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5rem;
    line-height: 3rem;
    color: #2a2828;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: center;
    text-align: left;
}
.form-block {
    margin: 1rem 0;
}

input {
    padding: 0.5rem;
    font-size: 1.5rem;
}

.about {
    display: flex;
    flex-direction: column;
}

 .about-block {
    position: relative;
     padding-left: 20px;
}

.hide {
    display: none;
}

 .about-block::before {
    content: "";
    display: block;
    border: 1px solid #554f4f;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    position: absolute;
     top: 1rem;
     left: 0;
}

.about-block::after {
   content: "";
   width: 12px;
   height: 12px;
   margin-top: 3px;
   margin-left: 1px;
   background: url("img/check.png") no-repeat center center/cover;
   background-size: 12px 12px;
   border-radius: 2px;
   position: absolute;
   top: 0.9rem;
   left: 0;
   display: none;
}
.hide:checked + .about-block::after  {
   display: block;
}

.send {
    margin-top: 2rem;
    width: max-content;
    font-size: 1.3rem;
    padding: 0.5rem 3rem;
    background: #ebe3e3;
    border: 2px solid grey;
}
.send:hover {
    background: #bab9b9;
}