* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 50vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    border: solid 2px black;


}
.item {
    width: 100px;
    height: 100px;
    background: #3c7a52;
    border: 1px solid red;
    text-align: center;
    color: white;
    font-size: 2rem;

}