* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.5rem;
    box-sizing: border-box;
}

.list {
    list-style: none;

}
.link {
    text-decoration: none;
    color: azure;
    cursor: pointer;
    white-space: nowrap;

}
.item {

    position: relative;
}
.link {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.link:focus {
    background: #b52a2a;
}


.nav-list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: coral;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.wd-list, .tutorial-list, .other-list {
    position: absolute;
    top: 3.7rem;
    left: 0;
    background: coral;
    display: none;
    flex-direction: column;
    width: 100%;
}

.nav-item:hover .wd-list {
    display: flex;
    flex-direction: column;
    top: 3.7rem;
}

.wd-item:hover .tutorial-list {
    display: flex;
    top: 0;
    left: 10.5rem;
}

.tutorial-item:hover .other-list {
    display: flex;
    top: 0;
    left: 10.5rem;
}

p {
    padding: 5rem 3rem 3rem 3rem;
}