* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.5rem;
    box-sizing: border-box;
}
.nav {
    width: 100%;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
    color: azure;
    cursor: pointer;
    white-space: nowrap;
}
.item {
    padding: 1rem;
}

.item:hover {
    background: #b52a2a;
}

.nav-list {
    position: relative;
    background: coral;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wd-list, .tutorial-list, .other-list {
    position: absolute;
    top: 3.7rem;
    background: coral;
    display: none;
    flex-direction: column;
}

.nav-item:hover .wd-list {
    display: flex;
    flex-direction: column;
}

.wd-item:hover .tutorial-list {
    display: flex;
    top: 7.35rem;
    left: 8.5rem;
}

.tutorial-item:hover .other-list {
    display: flex;
    top: 7.37rem;
    left: 9.3rem;
}

p {
    padding: 3rem;
}